= render :partial => "/godmode/shared/headers/index_header", :locals => {:create_type => Face.model_name.parameterize}

- unless has_column?
  = render :partial => "empty"
- else
  = render :partial => "box"
  %table.listingtable.zebra-striped.t-sort
    = render :partial => "godmode/shared/headers/sorted_header", :locals => {:columns => %w(title icons updated_at), :rejected => ""}
    %tbody
      - collection.each do |article|
        %tr
          %td.check= check_box_tag :selected_articles, nil, nil
          %td= link_to article.title, can?(:edit, article) ? edit_resource_path(article) : resource_path(article)
          %td= link_to article.comments_count, '#'
          %td
          %td= l(article.created_at, :format => :short)

  =# paginate collection
