%fieldset.no-margin.no-padding
	.clearfix.title
		= f.label :title
		.input.span18
			= f.text_field :title, :style => "font-size:1.5em; width:100%;"
	
	.clearfix
		= f.label :slug
		.input
			%span.uneditable-input{:data => {:"editable-source" => ""}}
				%span.url-snippet
					= raw("/<ins>#{@journal_rubric.try(:slug)}</ins>")
			= link_to t(:edit), '#', :class => "btn small", :data => {:editable => ""}
			.hide{:data => {:"editable-target" => ""}}
				= f.text_field :slug, :class => "span8"