%article{:class => "widget-entry clearfix", :data => {:preview => ""}}
  %h2
    = raw @element.title.to_link(@element).html_safe
    - @element.labels.each do |lab|
      = render "shared/elements/label", :label => lab
  = render :partial => "shared/elements/images_list", :locals => {:element => @element}
  %p.post-description.clearfix= @element.meta_description
  .page.postinfo.pos-r= render :partial => "shared/elements/block_panel", :locals => {:element => @element}
