%article#newcommenttopost.post
  = form_tag post_comment_path(@options[:model]) do
    .comment
      = text_area_tag "comment", '', :rows => 8
    .postinfo
      = t('.new_comment')
      = link_to @options[:model].root.commentable.title, @options[:model].root.commentable.fullpath
      = submit_tag t('.send'), :class => "btn pos-a pos-right"
