= render :partial => "/godmode/shared/headers/stated_edit_header", :locals => {:edit_type => JournalArticle.model_name.parameterize, :item => @journal_article}
.container
  .row
    = form_for :journal_article, :url => godmode_journal_article_path(@journal_article), :method => :put do |f|
      = render :partial => "#{'readonly_' if resource.readonly?}form", :locals => { :f => f }
      .float-actions= render :partial => "/godmode/shared/actions/stated_actions", :locals => {:f => f}