= render :partial => "/godmode/shared/headers/index_header", :locals => {:create_type => JournalArticle.model_name.parameterize}
= render :partial => "box"

%table.listingtable.zebra-striped.t-sort
  = render :partial => "godmode/shared/headers/sorted_header", :locals => {:columns => %w(title rubric icons author updated_at), :rejected => ""}
  %tbody
    - collection.each do |article|
      %tr
        %td.check= check_box_tag :selected_articles, nil, nil
        %td
          = link_to can?(:edit, article) ? edit_resource_url(article) : resource_url(article), :title => article.fullpath do
            - if article.trashed?
              = content_tag(:del, article.title)
            - else
              = article.title
        %td= link_to article.parent.title, godmode_journal_rubric_path(article.parent) if article.parent
        %td= link_to article.comments.count, '#'
        %td= link_to article.try(:rate_count) || 0, '#'
        %td= link_to article.owner.name, articles_godmode_account_path(article.owner), :class => "light-link"
        %td= content_tag(:small, l(article.updated_at, :format => :short), :class => "updated_at", :title => t(".updated_at_title", :time => l(article.updated_at, :format => :long)))
