= render :partial => "/godmode/shared/headers/index_header", :locals => {:create_type => Account.model_name.parameterize}

%table.listingtable.zebra-striped.t-sort
  = render :partial => "godmode/shared/headers/sorted_header", :locals => {:columns => %w(name email role last_sign_in_at), :rejected => ""}
  %tbody
    - collection.each do |account|
      %tr
        %td.check= check_box_tag :selected_articles, nil, nil
        %td= link_to account.name, edit_resource_url(account)
        %td= account.email
        %td
          - membership = account.membership(current_site)
          = link_to membership.role, edit_godmode_membership_path(membership) if membership
        %td= l(account.last_sign_in_at, :format => :long) if account.last_sign_in_at
= render "godmode/shared/paginator", :collection => collection
