%section.a-center
  = link_to "#{@model.fullpath}?like", :remote => true, :class => "likethis#{' liked ' if @liked} a-center dark-link" do
    = content_tag(:i, nil, :class => "iconlike")
    %small
      = t '.like'
      %br
      = content_tag(:i, @model.rate_count, :class => "rate_count")
