%section#like.container.pos-r
  - if @liked
    = content_tag :span, :class => "likethis a-center dark-link", :data => {:change_class => "liked"} do
      %small= t '.like'
      = content_tag(:i, @model.rate_count, :class => "rate_count")
    %ul.unstyled.sharethis
      %li.doit= t '.share'
      %li.twitter= link_to t('.twitter'), '#', :title => t('.twitter_title')
      %li.google= link_to t('.google'), '#', :title => t('.google_title')
      %li.tumblr= link_to t('.tumblr'), '#', :title => t('.tumblr_title')
      %li.facebook= link_to t('.facebook'), '#', :title => t('.facebook_title')
      %li.opinion= link_to t('.option'), "#comments", :class => "light-link"
  - else
    = link_to "#{@model.fullpath}?like", :remote => true, :class => "likethis a-center dark-link", :data => {:add_class => "liked", :likes => @model.rate_count} do
      %small= t '.like'
      = content_tag(:i, @model.rate_count, :class => "rate_count")
