%article{:class => "post indent-#{@element.depth}", :id => @element.slug}
	.comment= @element.message.html_safe
	.postinfo
		= t(".owner")
		%span.user= @element.owner.name
		= t(".divider")
		%span= time_tag(@element.created_at)
		= t(".divider")