- content_for :sidebar do
  = render_section(:sidebar)
.span18
  = render "shared/elements/sort_widget_tab", :active_tab => params[:tab].try(:to_sym) if (params[:date].blank? && !request.xhr?)
  - if @items.any?
    - @items.map(&:timelinable).compact.each do |item|
      = item.render(:block)
      .bgoverlay{:title => t('.bgoverlay'), :data => {:elements => "article.active"}}
    = render "shared/more", :pcol => @items
- content_for :seo do
  = seo_collection_title(@items, :timeline)
  = seo_collection_description(@items, :timeline)
