%h1
  = @element.title
  %small= "#{@element.media_files.count} #{t('.photos')}"
%figure.pos-r
  %p.fotorama{data: {nav: "thumbs", margin: 0, width: "100%", fullscreenIcon: "true"}}
    - if !(media_files = @element.media_files).empty?
      - media_files.each do |mf|
        = mf.render(:block)
%figcaption= @element.description
