= render :partial => "/godmode/shared/headers/stated_edit_header", :locals => {:edit_type => Reportage.model_name.parameterize, :item => @reportage}
.container
  .row
    = simple_form_for [:godmode, @reportage] do |f|
      = render :partial => "#{'readonly_' if resource.readonly?}form", :locals => { :f => f }
      .float-actions= render :partial => "/godmode/shared/actions/stated_actions", :locals => {:f => f}
