!!! 5
%html
	%head
		= stylesheet_link_tag    "journalist/application"
		= javascript_include_tag "journalist/application"
		= csrf_meta_tags
		%link{:rel => "shortcut icon", :type => "image/x-icon", :href => image_path("journalist/favicon.ico")}
		%link{:rel => "stylesheet", :href => ""}
	%body
		%header.cheeky-header{:role => "banner"}
			.container
				%hgroup
					%h1.cheeky-logo.a-right
						= link_to root_path do
							%span.big-h= t(".big_h")
							%span= t(".logo_any")
		= yield